<form [formGroup]="addPostForm" ngSubmit="onSubmit()">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>URL</mat-label>
      <input matInput formControlName="url" autocomplete="off"/>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="postType">
        <mat-option *ngFor="let postType of postTypes" [value]="postType.value">
          {{postType.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" autocomplete="off"/>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" autocomplete="off"></textarea>
    </mat-form-field>
  </div>

  <button mat-raised-button color="accent" (click)="addPost()" [disabled]="addPostForm.invalid">ADD</button>
</form>

<p>Form Status: {{ addPostForm.status }}</p>
